# Dependencias
node_modules

# Build
dist
*.tsbuildinfo

# Credenciales — nunca subir a git
.env.local
.env*.local

# Editor / SO
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
